<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxgyl.message.mapper.AttachmentDBMapper">
	<resultMap id="BaseResultMap"
		type="com.jxgyl.message.service.domain.Attachment_DB">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="MSG_ID" jdbcType="INTEGER" property="msgId" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PATH" jdbcType="VARCHAR" property="path" />
		<result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
	</resultMap>
</mapper>