<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxgyl.message.mapper.AttachmentDBMapper">
	<resultMap id="BaseResultMap"
		type="com.jxgyl.message.service.domain.Attachment_DB">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="MSG_ID" jdbcType="INTEGER" property="msgId" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PATH" jdbcType="VARCHAR" property="path" />
		<result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
		<result column="STATUS" jdbcType="INTEGER" property="status" />
	</resultMap>
	
	<insert id="batchInsert" parameterType="java.util.List">
		insert into ATTACHMENT (ID, MSG_ID, NAME, PATH, ADD_TIME, STATUS)
    	values 
    	<foreach collection="list" item="attach" separator=",">
    		(#{attach.id,jdbcType=INTEGER}, #{attach.msgId,jdbcType=INTEGER}, #{attach.name,jdbcType=VARCHAR}, 
      		 #{attach.path,jdbcType=VARCHAR}, #{attach.addTime,jdbcType=TIMESTAMP}, #{attach.status,jdbcType=INTEGER})
      	</foreach>
	</insert>
	
	<select id="selectAbnormal" resultMap="BaseResultMap">
		select * from ATTACHMENT where MSG_ID = #{msgId} and STATUS = '0'
	</select>
	
	<update id="batchUpdate" parameterType="int">
		update ATTACHMENT set STATUS = '0'
		where MSG_ID in
		<foreach collection="list" item="msgId" open="(" close=")" separator=",">
		#{msgId }
		</foreach>
	</update>
	
	<update id="batchUpdateNormal" parameterType="int">
		update ATTACHMENT set STATUS = '1'
		where MSG_ID in
		<foreach collection="list" item="msgId" open="(" close=")" separator=",">
		#{msgId }
		</foreach>
	</update>
</mapper>