<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxgyl.message.mapper.VariableDBMapper">
	<resultMap id="BaseResultMap" type="com.jxgyl.message.service.domain.Variable_DB">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="MSG_ID" property="msgId" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="VAL" property="val" jdbcType="VARCHAR" />
		<result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
		<result column="STATUS" jdbcType="INTEGER" property="status" />
	</resultMap>
	
	<insert id="batchInsert" parameterType="java.util.List">
		insert into VARIABLE (ID, MSG_ID, NAME, VAL, ADD_TIME, STATUS)
    	values 
		<foreach collection="list" item="var" separator=",">
			(#{var.id,jdbcType=INTEGER}, #{var.msgId,jdbcType=INTEGER}, #{var.name,jdbcType=VARCHAR}, 
      		 #{var.val,jdbcType=VARCHAR}, #{var.addTime,jdbcType=TIMESTAMP}, #{var.status,jdbcType=INTEGER})
		</foreach>
	</insert>
	
	<select id="selectAbnormal" resultMap="BaseResultMap">
		select * from VARIABLE where MSG_ID = #{msgId} and STATUS = '0'
	</select>
	
	<update id="batchUpdate" parameterType="string">
		update VARIABLE set STATUS = '0'
		where MSG_ID in
		<foreach collection="list" item="msgId" open="(" close=")" separator=",">
		#{msgId }
		</foreach>
	</update>
</mapper>